.button {
  font: inherit;
  border: 1px solid gold;
  background: gold;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: mediumslateblue;
  border-color: mediumslateblue;
}

.button:focus {
  outline: none;
}
